[2020-11-17 09:13] kelson42 commented on #480
I believe it might be good to have a dedicated Zimfarm fot Zimit:
* Manager
* Worker

[2020-11-19 21:03] kelson42 commented on #553
@rgaudin part of the problem is the uploader container.... which has no version tag....

[2020-11-20 08:05] kelson42 opened #556 "Delete a user of type worker, should clean the entry in the worker table"
The problem currently is that we delete the user, but we still see the worker on the workers board.

[2020-11-20 08:19] kelson42 opened #557 "Create a healtcheck"
Like on the Cardshop:
* API
* Web site
* Mandory workers
* S3/Youtube/... access

[2020-11-20 08:23] kelson42 opened #558 "Consider using Youtube Token pool"
To be distribute the usage of each of them (around 10 currently) and attempt to avoid to reach the Youtube quota.

[2020-11-20 11:50] mahakporwal02 commented on #403
@rgaudin Can I work on this issue?

[2020-11-20 11:51] mahakporwal02 commented on #427
@rgaudin @kelson42 Can I work on this issue?

[2020-11-20 14:21] rgaudin commented on #427
Sure

[2020-11-20 14:22] rgaudin commented on #403
Sure, if @kelson42 can confirm this is an issue

[2020-11-20 18:10] mahakporwal02 commented on #427
@rgaudin pls review it

[2020-11-21 08:44] kelson42 commented on #482
@rgaudin We had the generic requirement in #479 and the specific one for Zimit here. Considering that we are just creating a private Zimfarm for Zimit, we don’t need this specific ticket anymore. But the generic requirement is still valid. Therefore, I propose to:
* close this ticket as WONTFIX
* reopen #479, but not in Zimit project.

[2020-11-21 08:45] kelson42 commented on #481
@rgaudin We don’t need that anymore. For ZImit, we just you an option of the zimit scraper. I propose to close as WONTFIX.

[2020-11-21 08:48] kelson42 commented on #480
@rgaudin I believe this ticket to have been pretty much deprecated by the choice of having a private Zimfarm. I propose to close it as WONTFIX and open a ticket requiring the dev of a S3 uploader capacity.

[2020-11-23 08:36] rgaudin commented on #483
Uploader should support uploading to an S3 bucket.

[2020-11-23 08:36] #480 closed

[2020-11-23 08:36] #481 closed

[2020-11-23 08:40] rgaudin commented on #482
I don't see anything in #479 that is not already on other tickets so I won't reopen it (it's not actionable). Add some content and reopen if you feel there is something.

[2020-11-23 08:40] #482 closed

[2020-11-23 12:28] #553 closed

[2020-11-23 12:28] rgaudin commented on #553
OK, here's the situation:

- [Limits](https://docs.docker.com/docker-hub/download-rate-limit/) are per-IP (so per worker) on unauthenticated requests (our case).
- Limit is 100 req per 6 hours.

Here's a summary of our pulls:

Image | Requests (current) | Requests (new)
------------ | ------------- | ----
`worker-manager` | one on worker start | Idem (negligible)
`task-worker` | One per task on ta

[2020-11-23 14:41] #427 closed

[2020-11-23 15:23] mahakporwal02 commented on #403
@kelson42 Pls confirm it

[2020-11-23 16:17] kelson42 commented on #403
Yes, I propose `alt="Request with normal priority"` for the blue "Request" button and `alt="Request with high priority"` for the yellow one.

[2020-11-24 08:24] rgaudin commented on #435
All of those tasks that haven't been removed had a ZIM in it so there is no unexpected behavior: we keep the folder when we have a ZIM.

What we could do though is remove the folder if the task has been canceled as this imply it's not expected to produce a ZIM.
Now that we have working zimfarm and scrapers, I'd lean toward only keeping the folder if we do have ZIM files **and** the scraper exited

[2020-11-24 16:58] #403 closed

[2020-11-24 17:14] kelson42 commented on #435
We shoudl remove everything. I’m not interested anymore in the ability to upload manually ZIM. I trust and expect the Zimfarm to alwas upload properly. If not, the bug should be fixed and the recipe run a new time.

[2020-11-26 15:58] Popolechien opened #563 "Zimfarm incorrectly labels zim language to english"
Just noticed that both PHZH OpenedX MOOCs in Arabic and Greek are labeled (and found) as English
https://farm.openzim.org/recipes/phzh_core-arabic-one
https://farm.openzim.org/recipes/phzh_core-greek-one

![Screenshot_20201126_165219](https://user-images.githubusercontent.com/21675885/100371964-e08ada80-3008-11eb-8c1a-92ec94f7825e.jpg)

[2020-11-26 16:02] rgaudin commented on #563
This (the `Language` tag of the ZIM) is not handled by the zimfarm. It is set by the scraper (usually via a `--language` option that you specify in the recipe).
There doesn't seem to be such an option for openedx scraper so you should open a ticket there to request it.

[2020-11-26 16:02] #563 closed

[2020-11-26 16:05] Popolechien commented on #563
move /openzim/openedx

[2020-11-27 13:33] Popolechien opened #564 "Allow for upload of logos and banners"
The current setup when creating a recipe forces us to give a link to an online resource where the logo or banner we want to use is stored. An alternative would be able to upload these images.

[2020-11-27 13:34] rgaudin commented on #564
Duplicate of #552

[2020-11-27 13:35] rgaudin commented on #564
Duplicate of #552

[2020-11-27 13:35] #564 closed

[2020-11-27 13:53] mahakporwal02 commented on #556
@kelson42  Can I work on this issue?

[2020-11-27 14:28] kelson42 commented on #556
Good for me.

[2020-11-27 14:37] kelson42 commented on #470
@m3nu We have a first version running of this "backup-companion" at https://github.com/kiwix/borg-backup. Feedbacks welcome.

[2020-11-28 13:09] m3nu commented on #470
Interesting. Especially the use of Bitwarden to keep secrets. Will try to run it in Docker.

[2020-12-01 09:23] #556 closed

[2020-12-01 14:26] #304 closed

[2020-12-01 16:54] kelson42 opened #568 "Conflicting dnscache container name"
https://farm.openzim.org/pipeline/5fc662d486bd30ee81acfeed/debug

[code]

[2020-12-02 06:00] kelson42 opened #569 "UnboundLocalError: local variable 'exit_code' referenced before assignment"
[We regularly have this kind of error since a few weeks. See for example:
https://farm.openzim.org/pipeline/5fac3c9b6ed515d50494d91e/debug

[2020-12-02 20:40] mahakporwal02 commented on #510
@kelson42 @rgaudin Can I work on this issue?

[2020-12-03 08:10] kelson42 commented on #510
@mahakporwal02 I believe this is slightly more complex than what you have done so far. Please explain here your plan to fix it before starting the coding.

[2020-12-03 08:19] mahakporwal02 commented on #510
@kelson42  First I am planning to add filters to url using `this.$router.replace` and when the page is reloaded I am accessing the queries from previous url using `this.$route.query.<filter>` and pushing the filters into `selected<filters>` function in `schedulesList.vue`

[2020-12-03 14:09] #472 closed

[2020-12-03 14:09] #483 closed

[2020-12-03 14:43] rgaudin commented on #568
Done

[2020-12-03 14:43] #568 closed

[2020-12-03 14:44] rgaudin commented on #569
This was due to pull limits on the hub on a task started before the fix.

[2020-12-03 14:44] #569 closed

[2020-12-03 15:04] kelson42 commented on #530
Not sure we have seen this patern recently...

[2020-12-03 15:05] kelson42 commented on #458
If somehow could finish the work started by @satyamtg, that would be great.

[2020-12-04 08:03] rgaudin commented on #530
Agrees. Let's close it.

[2020-12-04 08:03] #530 closed

[2020-12-04 09:08] rgaudin commented on #491
No activity since August, closing

[2020-12-04 09:08] #491 closed

[2020-12-04 09:10] rgaudin commented on #462
This was deployed yesterday. Last 100 lines of both stdout and stderr are periodically uploaded

[2020-12-04 09:10] #462 closed

[2020-12-04 09:26] rgaudin commented on #551
That's an interesting feature but I don't think we really have a need for it nor we want to maintain it:
- most workers are dedicated. yours is an exception
- we don't know how our scrapers nor the rest of the stack behaves on `docker pause`. That's definitely something we should study and document.
- adjusting the resources of running workers, while possible is not something we want IMO. As @kels

[2020-12-04 09:26] #551 closed

[2020-12-04 10:33] rgaudin commented on #373
Now that we have logs in S3, this is probably not going to happen because files uploaded to S3 are un-mutable.

Couple options to do it still:
- have a script in the receiver that would download the JSON log, transform it to text and re-upload it to a new file then mark the JSON file for deletion (can't be directly removed as per auto-delete restrictions).
- since we're now submitting the whole th

[2020-12-04 10:36] rgaudin commented on #455
Actually, now that #435 will remove data at task exit even if we had a ZIM file, we should probably remove the `zimfarm upload` feature altogether.

[2020-12-04 11:05] #435 closed

[2020-12-05 07:58] kelson42 opened #571 "Tasks are reserved for many hours then get cancelled"
... then are rescheduled.

We have an extrem case with https://farm.openzim.org/recipes/wikipedia_en_medicine.

This is a new pattern I have observed many tomes these last weeks.

None of this should happen at all IMO.

[2020-12-05 16:54] rgaudin commented on #571
That's quite weird. To get to such a situation, it means the manager receives the task (it is thus `reserved`) but the task-worker that gets fired immediately after fails to start properly (or fails to launch).
The canceling is normal if a task is reserved but not started after some time.
I've tried to reproduce the problem without success. [see this one](https://farm.openzim.org/pipeline/ce99623e

[2020-12-06 06:49] kelson42 commented on #571
Other examples:
* https://farm.openzim.org/recipes/wikipedia_ar_medicine
* https://farm.openzim.org/recipes/wikipedia_vec_all
* https://farm.openzim.org/recipes/wikivoyage_ru

[2020-12-07 14:54] #277 closed

[2020-12-07 16:22] rgaudin opened #575 "Add notification config in UI"
Zimfarm now has built-in notifications support but this is only available through the API. We should allow editors to edit the notifications from the UI.

How it works:

* notifications use 2 routes: `mailgun` (email), `webhook` (HTTP POST of the task's payload) and `slack`.
* notifications are triggered on events: `requested`, `started` and the virtual `ended` (for both `succeeded`, `failed` and

[2020-12-09 06:10] kelson42 opened #577 "Unavailable task, fatal error"
https://farm.openzim.org/pipeline/5ce914d6942a0c9abea6fcf5

[2020-12-09 14:40] Popolechien opened #578 "Export list of recipes 7 contents"
We are starting to have quite a few recipes, it would be extremely useful to be able to export some sort of CSV list of all available contents across languages, e.g. something that can be shared with potential partners with the fields `language` and `title`, and `description`

[2020-12-09 14:46] kelson42 commented on #578
@Popolechien This ticket proposes a solution, but I don't understand the problem it should fix. The Zimfarm is open, any partner can already look to what it contains. Therefore I have to ask: What is the problem you want to fix?

[2020-12-09 14:55] Popolechien commented on #578
Orange (to name but one) has asked a list of French and English contents that they can circulate to their markets as paper format. It is also useful when approaching potential distributors.

The problem it fixes is that the "lists" currently available on the cardshop (or even library.kiwix.org) are hardly usable, with languages being mixed and / or triplicates no being clearly flagged as such.

[2020-12-09 14:59] kelson42 commented on #578
@Popolechien Thank you for the clarification. What is sure, is that the Zimfarm is not the catalog. I will think more about the need...

[2020-12-09 15:04] rgaudin commented on #578
This looks like a library issue, not a zimfarm issue. Although I agree we currently have a flexible zimfarm tool while we only have the XML file for the library…

[2020-12-09 15:07] Popolechien commented on #578
basing a catalog on zimfarm would add a nice touch of how often any given content is being updated, but honestly at this stage I'd take anything that can be quickly imported into an excel sheet.

[2020-12-10 20:07] kelson42 commented on #331
@rgaudin Should we close this ticket?

[2020-12-10 21:28] pirate commented on #488
How much transfer per month is typical for a zimfarm worker? Would it exceed 1TB/mo?

I ask because I'm going to set up a VPN bounce machine to try and get my zimfarm rack server up again, and am wondering how much to budget for bandwidth.

[2020-12-11 07:41] kelson42 commented on #488
@pirate Good news, but question hard if not impossible to answer. It depends... but if it ever goes over 1TB, it should really not be from that much.

[2020-12-11 07:57] rgaudin commented on #488
Looked at the AWS-hosted worker we had and the last bill says:

Item | Value
------------ | -------------
data transfer in per month | 1,019.211 GB
first 1 GB of data transferred out per month | 0.949 GB
regional data transfer - in/out/between EC2 AZs or using elastic IPs or ELB | 0.116 GB
first 10 TB / month data transfer out beyond the global free tier | 269.521 GB

[2020-12-11 07:57] rgaudin commented on #488
This dates back from August.

[2020-12-11 11:20] pirate commented on #488
Ok, I was thinking of using DigitalOcean which is 1TB for free, with $0.02 USD/GB after that. Hoping it's not too much higher because then it goes from a $5/mo project to a $20+/mo project. I will keep looking at alternative hosting providers, maybe I can find one with free bandwidth up to 2TB.

[2020-12-11 17:59] mahakporwal02 commented on #420
![Screenshot from 2020-12-11 23-28-13](https://user-images.githubusercontent.com/56486682/101937941-93ae2300-3c08-11eb-98c1-469849bbcd25.png)
@rgaudin @JensKorte

[2020-12-11 19:23] kelson42 commented on #420
@mahakporwal02 I would recommend to use a library which does that out of th box to avoid reinventing the wheel. Something like https://mottie.github.io/tablesorter/docs/

[2020-12-12 19:27] rgaudin commented on #331
done

[2020-12-12 19:27] #331 closed

[2020-12-13 09:44] kelson42 opened #581 "Worker unable to find/upload log"
https://farm.openzim.org/pipeline/825e4e3a931328f2e9fc5df5/debug

[2020-12-13 14:31] rgaudin commented on #581
this has nothing to do with S3. Logs are uploaded fine and you can download them.
It's the task-worker log that could not be uploaded.
this is done by the manager. I've seen this in the transition to new ids but not since workers were restarted. Will check.

[2020-12-15 08:39] kelson42 opened #582 "Slack channel zimfarm-events is not updated anymore since yesterday"

[2020-12-15 10:32] #577 closed

[2020-12-15 10:32] #582 closed

[2020-12-15 15:21] kelson42 commented on #387
It seems it does not happen so often anymore and we don’t know anyway how to really improve the situation. We will have to live with this.

[2020-12-15 15:21] #387 closed

[2020-12-15 17:57] kelson42 opened #584 "Debug tab does not always load properly"
https://farm.openzim.org/pipeline/28690edb6f2e520a17798df5/debug

[2020-12-15 18:00] rgaudin commented on #584
Notification related. was fixed yesterday. might need a restart

[2020-12-15 18:00] #584 closed

[2020-12-15 18:21] rgaudin commented on #584
Sorry was progress related and the fix must have been lost in some merge… redid. works now

[2020-12-16 08:37] rgaudin opened #585 "zimfarm prune doesn't work as expected"
`zimfarm prune` worker command (launched by cron) should remove all images and containers that we use in the context of a worker.

While we do delete containers properly, we fail to removes images because we're attempting to remove those with the `zimfarm` label. Images labels are set at build-time and are thus beyond our control.

[code]

We should thus change the behavior to:
- add zimfarm label

[2020-12-16 10:08] rgaudin commented on #571
OK, this was due, as expected, to the task ID change. We are now creating containers with names such as `zimtask_xxxxx` while we were previously using `xxxxx_zimtask` (so it's easier to jump from one another).

Those failing ones are all trying to reach the new format but containers were created with old format.
For tasks started before the fix, this bug is to be expected. For those started recent

[2020-12-16 10:09] rgaudin commented on #581
OK, this was due, as expected, to the task ID change. We are now creating containers with names such as `zimtask_xxxxx` while we were previously using `xxxxx_zimtask` (so it's easier to jump from one another).

Those failing ones are all trying to reach the new format but containers were created with old format.
For tasks started before the fix, this bug is to be expected. For those started recent

[2020-12-16 10:09] #581 closed

[2020-12-16 10:49] rgaudin commented on #571
Eventually found the root cause of this. This is due to the pull-rate limit:

- worker receives a task
- worker informs API it is taking the task (`reserved`)
- worker tries to pull task-worker image
- fails to do so because of the limit
- after 30mn in `reserved`, period-tasks cancels it.

To me, this is the proper behavior and there's nothing to fix there. It does highlight the fact that we are

[2020-12-16 10:49] #571 closed

[2020-12-16 11:33] rgaudin opened #586 "Circumvent pull-rate limits"
While we've greatly decreased our images pulls in #553, we are still very much affected by [the limits](https://www.docker.com/pricing/resource-consumption-updates).

As a reminder, unauthenticated requests are limited to `100 per 6h`. Unauthenticated are IP-based and I believe part of our current problem is due to all `mwoffliner` workers being seen as the same IP by docker hub, thus virtually li

[2020-12-16 12:28] #585 closed

[2020-12-16 13:18] rgaudin commented on #585
Done, didn't encounter clashes in tests but I'm not sure how it's completlely safe. We'll see. cron launches this every day right after restarting the manager.

[2020-12-16 15:07] rgaudin commented on #542
Was actually fixed in ef25f58c8 but issue was not linked properly.

[2020-12-16 15:09] rgaudin commented on #542
For the record, the problem is indeed if a schedule has been renamed, it couldn't fetch status of its last task and failed due to incorrect schedule name.
Reopening as a delete schedule (although very rare) would raise the same.

[2020-12-16 16:01] #542 closed

[2020-12-17 09:24] #458 closed

[2020-12-17 19:28] mahakporwal02 commented on #537
@rgaudin @kelson42 should I work on this issue?

[2020-12-17 19:36] mahakporwal02 commented on #510
@rgaudin This issue might have been left open

[2020-12-17 20:58] #510 closed

[2020-12-18 15:04] rgaudin commented on #537
We need to defined a value for this setting: how long should the JS and CSS be cached. Given the whole site is a JS app, it's sortof important… but it's also an *internal* app used by a small group of persons who knows to force-refresh on issues.
@kelson42 ?

[2020-12-19 08:01] kelson42 commented on #586
@rgaudin works on providing key Docker containers using Github Docker registery.

[2020-12-22 13:20] kelson42 commented on #420
After discussion with @mahakporwal02 and @rgaudin it seem quite difficult to implement this properly and the added value is really limited (for the moment. Closing the issue as WONTFIX.

[2020-12-22 13:20] #420 closed

[2020-12-26 14:07] kelson42 opened #588 "“Hide offline workers” should last longer"
If I click on this button, it applies properly, ie. offline workers disappear.

Unfortunately after around a day, the offline workers reappear automatically.

It should not, as long as the button is not clicked again (to display offline workers).

I believe this is handled by a cookie which has an expiration time.... and it should not.

[2020-12-26 14:07] kelson42 commented on #588
@mahakporwal02 Would you volunteer to fix that one?

[2020-12-26 14:14] kelson42 commented on #586
This has been implemented for the most used images.

The Docker images are now built in Github actions and the uploaded on both Docker hub and Github actions.

We don’t have any impact anymore for the moment.

Scraper container which are still only on Docker hub will mpbe migrated as well, piece by oiece, in the next weeks and months.

[2020-12-26 14:14] #586 closed

[2020-12-26 14:23] kelson42 commented on #468
@rgaudin I believe we will have to fix that ticket by integrating the zimquarantine to the zimfarm, as th upload is beetween the scraping itself and the quarantine.

[2020-12-26 14:25] kelson42 commented on #455
@rgaudin Not sure to fully understand your last comment, but “yes” it seems we have to sort-out now this ticket.

[2020-12-26 14:28] kelson42 commented on #363
Conisering that we have already the API, might be something of interest to implement for you @mahakporwal02. @rgaudin Please let us know if you think differently.

[2020-12-26 14:32] kelson42 commented on #373
@rgaudin In my experience I need the full log in around 1/10 (and maybe even less) of all failed scraping processes.

[2020-12-26 14:36] kelson42 commented on #373
Yes, please do that. Before doing anything, could you please upload here an example of the text format for validation?

[2020-12-26 14:38] kelson42 commented on #432
@rgaudin We should clarify what would make sense here regarding this request.

[2020-12-26 14:50] rgaudin commented on #363
Sounds good. @mahakporwal02, that would be [this part](https://github.com/openzim/zimfarm/tree/master/workers#uploading-your-public-key) except for the generation step of course.
You'd still need to read the file offline to extract the important part, format that as JSON and upload.

[2020-12-26 14:53] rgaudin commented on #432
I have no suggestion. If you think that what @JensKorte proposes is better than current and you don't have any other input, we can do just that

[2020-12-28 11:38] rgaudin commented on #373
both.log

[code]

stderr alone

[code]

stdout alone

[code]

[2020-12-28 11:44] mahakporwal02 commented on #588
@kelson42 Sure

[2020-12-28 14:28] #455 closed

[2020-12-28 14:55] rgaudin commented on #468
After discussing this with @kelson42, decision is to keep current behavior: on stop, we stop everything.
Those events are too rare for this to become problematic and it relieves us from handling a special behavior.

[2020-12-28 14:55] #468 closed

[2020-12-29 15:40] #373 closed

[2020-12-29 16:56] #499 closed

[2020-12-30 13:16] kelson42 commented on #537
@rgaudin The cache duration shoukd be long, maybe a month. Bit would be great to add etag based on web server start time and some like “?etag” to the css/js dependences to avoid a force refresh on client side.

[2020-12-30 13:25] kelson42 commented on #358
Here is a typical API call:
https://hub.docker.com/v2/repositories/openzim/mwoffliner/tags/?page=1&page_size=250

Could we create a vue.js selectbox component which would print the current value, and if we click on it, dynamically populate the list based on this kind of call?

[2020-12-30 13:27] kelson42 commented on #477
@rgaudin  ould that be solved with a dedicated Vue.js component?

[2020-12-30 13:36] kelson42 commented on #578
@Popolechien I plan to create a “CMS” repository and move this ticket there. Would a Xml2xls tool not be able to do the job? Excel might be even having one per default?!

[2020-12-30 13:43] kelson42 commented on #418
Really! This is quite a deception.

[2020-12-30 13:45] rgaudin commented on #418
Why the question label?

[2020-12-30 13:52] kelson42 commented on #418
@rgaudin I really wonder if should implement it, if its setup is so cumbersome.

[2020-12-30 13:59] rgaudin commented on #418
Currently, setup is copy-pasting a small set of commands. We could still have that and keep a shell install.

You mentioned a pip package, I believe, thinking it would be simpler to install. It would (although it would require python and pip which we don't currently use) but pip is not able to install files outside the python installation paths. Our code could do that upon launch though.

[2020-12-30 18:04] #476 closed

[2020-12-30 18:04] #513 closed

[2020-12-31 19:17] #588 closed

[2021-01-03 14:45] kelson42 opened #596 "Failure by update "vikidia_en" recipe"
I wanted to put `dev` in `Image Tag`, but I get the error at the time of saving:

[code]

[2021-01-03 14:46] kelson42 commented on #596
@rgaudin Probably a regression around Github based Docker images update.

[2021-01-04 10:42] #596 closed

[2021-01-04 11:54] rgaudin commented on #363
Following your question on slack, I think we can have this in the Users UI (on a user's profile detail) for now as this will mostly be used by admins, creating accounts for workers.
At some point, we'll probably gather access user-related stuff (token, password, etc) in some sort of profile but that's for later.

[2021-01-04 13:49] rgaudin commented on #537
@kelson42 that sounds non trivial given we are in a server-less environment: we build our source code into a large JS bundle that is later served by nginx.
nginx [uses the timestamp of the file on the FS to calculate its Etag](http://lxr.nginx.org/source/xref/nginx/src/http/ngx_http_core_module.c?r=7638%3A681b78a98a52#1656) and that sounds difficult for our use case: would imply modifying the HTML

[2021-01-04 14:11] kelson42 commented on #537
@mahakporwal02 I guess you have now everything you need to make a fix.

[2021-01-05 10:49] Popolechien opened #598 "400 Bad request when trying to update recipe"
I cloned the existing [bibnum](https://farm.openzim.org/recipes/bibnum/edit) recipe on the farm which I renamed [culturegnum](https://farm.openzim.org/recipes/culturegnum/edit). Trying to change parameters (target website, description, file name) returns this error message upon saving:
`Error!
400: Bad Request
"Invalid Request JSON"
{"statsFilename":["Unknown field."]}.`

[2021-01-05 10:59] rgaudin commented on #598
Thanks ; will fix and let you know

[2021-01-11 15:55] rgaudin opened #601 "Attach or check disk on zimtask container"
Currently, resources are attached to the scraper container either directly for CPU/memory or via a label (for Disk). This works fine as this scraper container is the one consuming the resources.

Now that we are checking ZIM files in the worker, we are maintaining disk usage for a potentially very long period after the end of the scraper container.

What can happen thus is that the scheduler expec

[2021-01-11 16:02] #601 closed

[2021-01-11 16:25] #598 closed

[2021-01-14 21:29] kelson42 commented on #552
Actually this is even more necessarry tos store custom CSS for Zimit recipes.

[2021-01-14 21:40] kelson42 commented on #552
I believe the solution could looks like:
* A DB table t store the file blobs
* API end points to write/read a file from the DB
* A Vue.js dialog/overlay to allow view/upload/modify the content
* This vue.js dialog could be linked to a dedicated button beside the url text inputs if needed. In that case, the url value would be pointing to the zimfarm API

[2021-01-15 11:36] #363 closed

[2021-01-15 21:54] kelson42 commented on #558
After discussing with @rgaudin it seems that this won’t bring a lot of added value. Closing the ticket.

[2021-01-15 21:54] #558 closed

[2021-01-15 21:56] kelson42 commented on #358
@mahakporwal02 This might be an other potential task interesting for you.

[2021-01-21 13:30] Popolechien opened #602 "Farm returns 404 error eventhough the target site is up"
I've created this recipe for the [Fire Emblem wiki](https://fireemblemwiki.org/wiki/Main_Page)

https://farm.openzim.org/recipes/fireemblem/edit

(the recipe was cloned from https://farm.openzim.org/recipes/europa_universalis_iv_en which works fine)

Surprisingly the first run returned a `404 error` even though the Fire Emblem site is up and running. I've then asked zimit to do a run... and it wor

[2021-01-21 13:34] rgaudin commented on #602
You created an `mwoffliner` recipe ; for a mediawiki. Either the site is not a mediawiki or the recipe needs additional mwoffliner configuration.

[2021-01-21 13:34] #602 closed

[2021-01-25 09:29] Popolechien opened #603 "Export recipe creation history"
The proposed enhancement would make it easier to flag which or when recipes were created (and the corresponding zim permalink) so that we can more easily communicate on the week/month's releases (as opposite to updates, which are less informative).

[2021-01-25 09:37] rgaudin commented on #603
I see two different things.

First, zimfarm displaying the list of recipes by creation date is information that can be useful because right now it's impossible to know what was added.

As for what you want, a *cleaned* list of content (mostly matching recipe) with permalinks, that's a CMS feature.

@kelson42 what do you think? I'm in favor of opening this ticket on cms but would could keep that on

[2021-01-25 09:43] kelson42 commented on #603
I don't understand the ticket sorry.

[2021-01-25 09:46] Popolechien opened #604 "Identify recipes whose product is still in /dev"
It is common practice to first run a recipe to deliver in /dev, but then it probably is true that without reminder some will be forgotten then in this limbo. If a recipe is successful and moved to the appropriate directory, the initial zim file is not automatically removed from /dev either.
Bottom line: /dev should either be cleaned after a recipe's target is moved elsewhere, or there should be a

[2021-01-25 09:49] Popolechien commented on #603
@kelson42 Basically from discussing with the advisory board they supported the idea of having a weekly/monthly newsletter saying "here are the newly available contents on Kiwix" (could also be posted on Twitter/our blog). In order to do so, we first need to be able to produce that list.

[2021-01-25 09:52] kelson42 commented on #603
@Popolechien Do we talk about updates? or new offline content? Should that be an automatic process?

[2021-01-25 09:54] Popolechien commented on #603
@kelson42 New offline content only (updates are already a given, in way). As automated as can be.

[2021-01-25 09:59] rgaudin commented on #604
Agrees with the issue but don't know how to fix it. The main problem with `/dev` is that there are multiple levels of validation:

- purely technical (what `zimcheck` says about respect of the ZIM format)
- what the scraper developer considers *implemented*
- what we want users to be offered with.

We have no procedure for non-technical QA and how to decide if this is good to go or not ; not even

[2021-01-25 10:10] kelson42 commented on #603
To me clearly something related to the CMS.

[2021-01-25 10:33] kelson42 commented on #604
This is a CMS problem as the publishing of new content won't be automatic anymore like today. Actually this is a non-problem to me.

[2021-01-26 21:54] kelson42 commented on #477
@mahakporwal02 Is that something you would be interested to fix?

[2021-01-26 21:55] kelson42 commented on #511
Maybe and auto-expandable list would be preferable?

[2021-02-02 13:46] mahakporwal02 commented on #477
@kelson42  many `type=playlist` have more than one playlist id so should all the youtube links to the playlist be included?
For eg should this recipe include 2 links, one for each playlist?
![playlist](https://user-images.githubusercontent.com/56486682/106608953-04c7e200-658b-11eb-933b-e3e545557d1a.JPG)

[2021-02-03 09:51] kelson42 commented on #477
@rgaudin @mahakporwal02 It is true that the case where we have many comma separated values makes the thing difficult to handle. Here is what I believe would be the most adequate soluiton. We should have something like Bitwarden makes IMO.
![image](https://user-images.githubusercontent.com/1029718/106729219-8d876200-660d-11eb-9c84-62a438b091cd.png)

This allow to have multiple URL/values and handle

[2021-02-03 10:17] rgaudin commented on #477
Agrees this would be good UI-wise.
Problem is that the whole *offliner-definition* and it's UI-usage is currently 1:1 between UI fields and data values so doing this would require some revamping of the editor that would take it outside the `good-first-issue`.

[2021-02-13 15:31] kelson42 opened #606 "Publish ZIM files to IPFS"
We are moving forward to use IPFS as (part of) distribution strategy.

Therefore we need to publish part or all of our ZIM files on IPFS.

The uploading of files is usually the duty of Zimfarm, the "CMS" been then in charge to decide if we put it in the official published library or not.

The point here is that there is a difficulty because:
* To avoid storage duplication the IPFS node has to run

[2021-02-13 15:32] kelson42 commented on #606
@lidel Would you be able please to explain briefly how the zimfarm-receiver Docker container could deal with the IPFS-node (to be installed on download.kiwix.org) to get the file published on IPFS?

[2021-02-13 16:28] rgaudin commented on #606
Just to be sure, there is no uploading to IPFS per say. We'd run an IPFS node on download.kiwix.org which currently is our storage repository.

On that server, we'd need  piece of software to decide to expose/publish zim files on IPFS. This decision would probably be based on the zimcheck output I think

So what we need is this decision tool and we'd need it to report-back to the zimfarm about the

[2021-02-13 16:33] kelson42 commented on #606
@rgaudin considering that the zimfarm should not have the duty to publish or not, but that I would like the zimfarm to,know and share the information about all the URL to access the content, I believe that everything out of the zimfarm should be published in IPFS local node.

[2021-02-13 16:34] rgaudin commented on #606
OK, makes sense. We do have URLs for stuff that are not published

[2021-02-15 05:27] kevinmcmurtrie opened #607 "gutenbergtozim DoS behavior with refused connections"
[//]: # (Pick appropriate classifiers)
- Location: Worker
- Schedule Name/ID: gutenberg_mul_all
- Task ID: 806bba557688d39ae7189206

## Problem
Scraper was rapidly hitting http://aleph.gutenberg.org while it was refusing TCP/IP connections.  This resembles a DoS attack and could result in clients being blacklisted.

https://farm.openzim.org/pipeline/806bba557688d39ae7189206/debug

## Reproducing s

[2021-02-17 14:15] Popolechien opened #608 "wikipedia_no_all flavours are generated but not listed"
As the title indicates, [wikipedia_no_all](https://farm.openzim.org/recipes/wikipedia_no_all) runs fine on the zim farm but cannot be found on [download](https://download.kiwix.org/zim/wikipedia/)

[2021-02-17 18:53] kelson42 commented on #608
@Popolechien which file is missing? You are confused because the files are called wikipedia_nb_... I guess.

[2021-02-17 19:04] Popolechien commented on #608
Well OK but then the issue remains for no
![Screenshot_20210217_200230](https://user-images.githubusercontent.com/21675885/108254482-5bbce200-715b-11eb-9ca2-5fa2a7a95554.jpg)

[2021-02-17 19:25] Popolechien commented on #608
Ah, looks like no redirects to nb for the online version...

[2021-02-18 01:04] lidel commented on #606
So I believe you want to run [go-ipfs](https://github.com/ipfs/go-ipfs) somewhere.
It works fine in Docker ([docs](https://github.com/ipfs/go-ipfs#running-ipfs-inside-docker) if that makes things easier.

Given the size of ZIMs importing data to IPFS datastore (flatfs/badger) is not an option, but it also simplifies storage a bit.

Luckily, there are two ways of avoiding data duplication:
- [files

[2021-02-18 16:19] kelson42 commented on #608
It is clear that it can not works properly because someone has forced the name in `wikipedia_no_top` recipe... wrongly!

[2021-02-18 16:23] kelson42 commented on #608
I have deleted the wrong name filenames `wikipedia_no_top*`, fixed the recipe, and relaunched a `wikipedia_no_top` recipe task.

[2021-02-18 16:23] #608 closed

[2021-02-22 10:04] #358 closed

[2021-02-25 07:31] kevinmcmurtrie commented on #607
It happened again: https://farm.openzim.org/pipeline/97fbc40e1f235962f06ae206/debug

I disabled the gutenberg scraper on pixelmemory.

[2021-02-25 09:46] kelson42 commented on #607
What let you say the aleph.gutenberg.org refuses TCP/IP connections?
What let you believe this is a problem in the scraper?

[2021-02-25 17:04] kevinmcmurtrie commented on #607
Over 1 million `Connecting to aleph.gutenberg.org (aleph.gutenberg.org)|65.50.255.20|:80... failed: Connection refused.`

The scraper is retrying at an extremely high rate that is going to trigger automated denial-of-service detection.  1141028 connection attempts were made and refused in a short period of time.  Retries need to be throttled to a sane rate.

[2021-02-25 17:55] kelson42 commented on #607
/move openzim/gutenberg

[2021-02-25 17:55] #607 closed

[2021-03-11 15:47] #525 closed

[2021-03-12 05:50] kelson42 opened #611 "Better handling of user session ending"
I’m not really satisfied with how user sessions end most of the time:
* It happens each time the backend (not sure whcih service exactly) is restarted. This happens relatively often and this should IMO better not force each user to reconnect.
* If a user session, for any reason, is not valid anymore, the user is not clearly visually informed. I would prefer that if a user sends a sessionid which i

[2021-03-12 10:09] #611 closed

[2021-04-12 19:37] pirate commented on #488
Bumping this because I think many more people would be able to run zimfarm if it were usable as a `docker-compose.yml` project similar to ArchiveTeam's Archive Warrior system that many people run: https://github.com/ArchiveTeam/warrior-dockerfile

[code]

Last I checked this was difficult because zimfarm relies on being able to spawn multiple Docker containers, and that process is currently done a

[2021-05-12 11:07] Popolechien opened #620 "Wikipedia_de_all fails to run with status code 413"
See here https://farm.openzim.org/recipes/wikipedia_de_all : the last two runs (April 8 and May 9) have both failed with the same error message

[2021-05-12 11:12] kelson42 commented on #620
Duplicate of https://github.com/openzim/mwoffliner/issues/1424

[2021-05-12 11:12] rgaudin commented on #620
HTTP 413 is payload too large. You should move it to mwoffliner.

[2021-05-12 11:12] #620 closed

[2021-05-20 10:22] move[bot] opened #621 "Mirror stackexchange repo"
*@rgaudin commented on May 20, 2021, 9:38 AM UTC:*

For sotoki scraper, we need to download dumps from StackExchange.

The [server](https://archive.org/download/stackexchange/) is backed by a few mirrors but all of them are very slow. The torrent included in this folder just refers those mirrors as webseed so it's equally slow.

Using this will greatly slow down our sotoki scraping while those fil

[2021-05-21 16:02] #621 closed

[2021-05-22 10:30] kelson42 commented on #557
We just have a scenario in youzim.it where the only one crawler (worker) has been dead for 4 months and we had no way to detect this. We probably need a way to say that a worker is mandatory, or a certain level of worker power has to be available, otherwise the healthcheck will returns an error.

[2021-05-22 18:18] rgaudin commented on #557
4 days, not 4 months

[2021-05-23 20:01] kelson42 opened #623 "New ZIM of lesfondamentaux is really too small"
It is super urgent we understand if we don't have a regression here.

[2021-05-24 11:09] rgaudin commented on #623
@kelson42 https://lesfondamentaux.reseau-canope.fr/international is now behind a paywall. Homepage seems to imply it used to be that way (before covid?).

What we got in recent runs is that homepage. Loaded videos are working but not the three other ones available on click (I guess not scraped due to the JS dynamic link).

Anyway, it's not available anymore. We should remove the recipe.

[2021-05-24 11:09] #623 closed

[2021-05-25 14:08] Jaifroid opened #624 "Check data source for wikipedia_en_100_maxi (seems out of date)"
I'm not sure if the top 100 ZIMs are supposed to have a dynamic data source, whether it is for the past year, all-time, etc. Whatever it is, it seems out of date. The most startling example is that COVID-19 still hasn't made its way into the Top 100, whereas according to Wikipedia's own all-time list of top 100, it's been in the top 100 since June 2020. See:

https://en.wikipedia.org/wiki/Wikipedi

[2021-06-01 17:39] jmontleon opened #627 "Don't push a zim file if the test failed"
- Task ID: [23fed3bc2834ccea35138906](https://farm.openzim.org/pipeline/23fed3bc2834ccea35138906)

## Problem

The task generated a garbage zim file. The test results in the log backs this up, as does the size of ~1MB instead of the typical ~45MB. If the test failed it probably shouldn't be published/made available.

If I follow the link https://download.kiwix.org/zim/archlinux_en_all_maxi.zim thi

[2021-06-02 09:13] kelson42 commented on #627
/move openzim/cms

[2021-06-11 12:42] lidel commented on #606
Anything I could do to help with this?

Support for remote pinning is built-in since go-ipfs 0.8.0, so I think the farm could more or les do:

1.  `ipfs add --nocopy --cid-version=1 /path/to/foo.zim` → will produce `{cid}`
2. `ipfs pin remote service add someService secret`
3. `ipfs pin remote add --service=someService --name=foo.zim {cid}`

Step (3) will wait until entire ZIM is pinned remotely,

[2021-06-12 12:13] Popolechien opened #629 "wikibooks_en_all_maxi redirect is not functioning"
wikibooks_en_all_maxi.zim (as listed on the wiki) should normally point to the last available zim file (https://mirror.download.kiwix.org/zim/wikibooks/wikibooks_en_all_maxi_2021-03.zim) but instead returns "unavailable".

https://library.kiwix.org/wikibooks_en_all_maxi works on library.kiwix.org so I don't know if it also impacts the cardshop or not.

[2021-06-12 12:53] rgaudin commented on #629
This has nothing to do with zimfarm. If there is a missing redirect for files on the server, that should be moved to maintenance repo.

[2021-06-12 12:53] #629 closed

[2021-07-01 07:21] Popolechien opened #631 "Recipes should not be saved / launched if they do not include a zim description"
This field should be mandatory, lest we end up with dozen of obscure zim titles that cannot find their audience.

[2021-07-01 08:24] rgaudin commented on #631
As much as I am a supporter of good, informative descriptions, I think it should not be the case. Zimfarm orchestrate scrapers and scrapers comply with Zim format which doesn't require it.

What you want is stuff that we **publish** to not have empty or missing descriptions and that I agree with but that's for the CMS, not the zimfarm :)

[2021-07-01 08:30] Popolechien commented on #631
Excellent point.

[2021-07-12 10:26] kelson42 opened #722 "Rethink API token assignment"
To avoid situation where we reach the quota and the whole scrape dies. Probably a solution halfway beetween the scraper and Zimfarm.

The BIG question is HOW?

[2021-07-14 17:58] kelson42 opened #632 "Progress disapears time to time from task debug tab (while scraping)"
Observed with latest sotoki. Although the progress line is usually available during a scrape, it happens that during a few minutes the progress line disappears. Like if the scrPer would not deliver any progress indication.

[2021-07-14 18:00] kelson42 opened #633 "Stat filename should not be a parameter"
It is currentky a parameter which can/should be set manually. This seems to me not user friendly. IMO it would be simplier to just use it if available in the scraper and hard ode the value in the zimfarm.

[2021-07-15 10:53] rgaudin commented on #633
Actually, this does not need to be set at all. It is set automatically by the code if the scrapper supports it. It just happens to be visible on the UI because it's part of the recipe and is validated as any other field.

FYI;
You were mistaken because a test sotoki recipe couldn't be updated via UI because of an _incorrect_ `StatsFilename` value.
It just happened that this parameter was renamed i

[2021-07-15 10:53] #633 closed

[2021-07-21 14:59] rgaudin commented on #524
Recipe can be disabled, scraper-wide disabling in #545 and the rest should be CMS's job. closing

[2021-07-21 14:59] #524 closed

[2021-07-25 16:24] Popolechien opened #634 "Creating recipe with URL as title returns error"
So I made the mistake of creating [https://www.skybrary.aero/](https://farm.openzim.org/recipes/https://www.skybrary.aero/) as a recipe name (cloning from another, unrelated recipe).

It looks like it has been created, but I cannot access nor modify it and only get the following (and cryptic) error message: `Cross-Origin Request Blocked: preflight request failed`.

[2021-07-26 11:07] rgaudin commented on #634
Because of how routes are structured, we don't support recipe `name`s with `/` inside as it results in only left part of the slash to be considered the recipe name when querying the API.

UI should thus not allow creating (cloning) recipes with `/` inside.

[2021-07-26 11:08] rgaudin commented on #634
@Popolechien I remove the faulty recipe as we've created a duplicate with proper name.

[2021-08-18 08:06] kelson42 opened #637 "Zimfarm auto-cancel and relaunch task weirdly"
I see a pattern which is more often these last days. Here an example:
![image](https://user-images.githubusercontent.com/1029718/129861784-f0ffa781-2e97-4b0c-ae8c-1911b8a70abd.png)

I wonder why this is cancelled and why this is restarted just afterward.

[2021-08-18 09:11] kelson42 commented on #637
The problem seems that the worker is not able to start the task properly/quickly enough. Here an other example where the worker failed to start the task within 30mn:
![image](https://user-images.githubusercontent.com/1029718/129871525-16fdc3ac-4fb6-464c-96d5-8b93a5e91c2c.png)

[2021-08-18 09:13] rgaudin commented on #637
Yes, that's what I told you. Now either there is a pull issue or the worker crashes/freezes on startup.

[2021-08-18 09:14] rgaudin commented on #637
Found the issue

[2021-08-20 10:17] #637 closed

[2021-08-20 15:05] kelson42 commented on #606
@lidel We struggle with other topic, sorry for the lack of reaction on our side. Just read from Jonathan that https://estuary.tech/ might help us with the pinning problem.

[2021-08-25 13:24] Popolechien opened #639 "Add Ladakhi (lbj) to language list"
We've rolled out a series of youtube playlists for the Ladakhi department of Education, but the language selector does not know of this language.

I've parked [the recipe](https://farm.openzim.org/recipes/dse_ladakh_hi_playlists) under hindi (the classes are actually a mix of both languages), but obviously it's not the best idea.

[2021-09-03 07:18] kelson42 opened #640 "Add support of Wikihow content"
Few things to do:
* Allow to upload to `zim/wikihow` directory on `download.kiwix.org`
* Add category `wikiHow`
* Add recipes for ALL languages of wikiHow

[2021-09-03 07:25] rgaudin commented on #640
@kelson42 please make sure category is handled properly on other projects. I know that at least iOS has a hard-coded list of categories

[2021-09-04 13:09] kelson42 commented on #640
@rgaudin Actually this concerns only the one which have it hardcode, ie. iOS (macoOS) and Android. They should use the libkiwix feature to get the proper list of categories.

[2021-09-04 13:10] rgaudin commented on #640
OK, so between now and *when you do use libkiwix*, you understand that wikihow ZIM will not appear in their libraries.

[2021-09-04 13:11] kelson42 commented on #640
@rgaudin see as well https://github.com/openzim/wikihow/issues/61, all the rest should come automatically.

[2021-09-04 13:12] kelson42 commented on #640
This is an assumption, this is not always the case. But here we should focus on the Zimfarm.

[2021-09-04 13:14] rgaudin commented on #640
It's not an assumption for iOS; Remember TED ?

I am making sure you understand the consequences before going this direction.

[2021-09-04 13:21] kelson42 commented on #640
I understand, but one problem at a time. First generate the proper ZIM files, at the right place and then make them available.

[2021-09-05 06:25] kelson42 opened #641 "Configure « wikihow » platform"
… and secure we can rune only one scrape at a time per worker.

[2021-09-05 06:56] kelson42 opened #642 "Allow more choices beetwen 16gb and 32gb of RAM"
It is no good to have to allocate 32gb if only 22gb is necessary

[2021-09-06 08:27] rgaudin commented on #642
Are you talking about RAM resource ? Please suggest what you'd like:

- additional choices ? List them.
- Another kind of input ? We could have an integer field that is a number of GiB for instance. Drawback is sub-giga needs to be specified as decimal (`0.5`) which people find confusing.

[2021-09-06 09:01] kelson42 commented on #642
IMO just providing 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32 additional choices in the selectbox is the best thing to do.

[2021-09-06 09:15] #641 closed

[2021-09-06 09:15] #642 closed

[2021-09-06 12:04] rgaudin commented on #640
done

[2021-09-06 12:04] #640 closed

[2021-09-16 07:42] kelson42 opened #644 "Unable to upload SSH public key"
![image](https://user-images.githubusercontent.com/1029718/133571177-53fa5563-c79c-46f1-b342-09091c0c024b.png)

With following file:
[id_rsa.pub.txt](https://github.com/openzim/zimfarm/files/7175763/id_rsa.pub.txt)

[2021-09-16 07:45] kelson42 commented on #644
@mahakporwal02 Any idea what is going wrong here?

[2021-09-16 07:45] rgaudin commented on #644
It has to be at most 2048b which at time of writing the doc was the default but is not anymore (3072)

[2021-09-16 07:48] rgaudin commented on #644
Fixed the doc.

[2021-09-16 07:48] #644 closed

[2021-10-02 14:41] kelson42 opened #645 "Python scraper "ZIM filename" should be checked"
We should check that:
* the formalism of the filename is ok
* it ends with `.zim`
* ....

If this is not OK, it should be reported immediatly.

[2021-10-02 14:42] kelson42 commented on #645
@mahakporwal02 Is that something you would be interested to work on? You have worked already on this kind of features and there is still work to do to make the tool more user friendly and avoid to loose time by inputing wrong data. Would be really helpful.

[2021-10-14 15:54] kelson42 commented on #645
@mahakporwal02 Sorry, looks like @rgaudin has been quicker :)

[2021-10-17 13:08] kelson42 commented on #634
@mahakporwal02 Hi, when you are back, would you be able please to have a look to this ticket?

[2021-11-23 13:18] kelson42 opened #649 "ZIM watcher keeps recreating a visible useless directory"
Today again at https://download.kiwix.org/zimfarm-watcher/... I guess this is at container start!

[2021-11-23 13:44] rgaudin commented on #649
- this is part of the [maintenance config](https://github.com/kiwix/maintenance/blob/master/docker-compose.yml#L188)
- empty doesn't mean useless

Kinda concerned you kept on deleting a folder marked zimfarm without asking!

I'll let you change the compose to another path, not inside downloads/. This folder is used to download SO files to before uploading them to S3 (and then removing the local fi

[2021-11-23 14:15] kelson42 commented on #649
ok, then we should have it in /data/zimfarm-watcher.

[2021-11-23 14:16] rgaudin commented on #649
Exactly what I proposed… Not a zimfarm ticket anymore…

[2021-11-23 14:18] kelson42 commented on #649
/move kiwix/maintenance

[2021-11-23 14:22] rgaudin commented on #649
Fixed https://github.com/kiwix/maintenance/commit/c19062e24a597ddbbcad2be5756002657ad7fd6d

[2021-11-23 14:22] #649 closed

[2021-12-02 08:20] Popolechien opened #650 "Files posted in .hidden/dev should have an expiry date"
(not sure if this is more appropriate in /CMS, but anyway)

Files that are assigned to .hidden/dev are mostly to test out whether a given recipe works and their long-term value is negligible. They linger and accumulate in dev.library.org, which itself has quite a few limitations in the coherence of things it displays (it could for example list files by order of latest creation).

I therefore don't

[2021-12-02 15:27] rgaudin commented on #650
It's probably more suited for maintenance repo than zimfarm or CMS (which will never have anything to do with *dev*).

The only problem you're reporting is that [dev.library](https://dev.library.kiwix.org/) is cluttered. I want to answer that it's kiwix-serve's job to make it easy to deal with ZIM files.

Now I know that part of the confusion is due to having multiple versions of the same ZIM but

[2021-12-02 15:53] Popolechien commented on #650
Prior warning does make sense and Slack is where everyone is atm so yes, good idea.
Three months feels very long, but whatever.

[2021-12-04 04:28] kelson42 commented on #650
Like described by Renaud the problem is slightly more complex like it looks like. What about considering the dev library like another library, to be handled like the public library.kiwix.org? Same problems should lead to the same solutions?

[2021-12-04 08:57] Popolechien commented on #650
Sounds reasonable, as long as we get to clean things up.

[2021-12-06 08:05] kelson42 commented on #632
The problem seems to still occur:
![image](https://user-images.githubusercontent.com/1029718/144809687-138188fb-58bb-4e2a-8e0f-fee4d6c83b3a.png)

[2021-12-06 09:04] rgaudin commented on #650
what does that mean?

dev.library.org is a tool for developers, as its name suggest. At some point, other people need to test and validate ZIM files. Having a kiwix-served version greatly facilitates those tasks ; which is why we have it. **it is not a place to browse for content**. We could get rid of the kiwix-serve homepage actually.

If you consider it a public library, it means it's not a dev

[2021-12-06 09:37] kelson42 commented on #650
The point is not to put publishing constraint earlier in the (dev) process but to (re)-use the same CMS machinery to make available, garbage collect, etc... the ZIM file during their dev/qual stage.

[2021-12-06 09:37] kelson42 commented on #650
The point is not to put publishing constraint earlier in the (dev) process but to (re)-use the same CMS machinery to make available, garbage collect, etc... the ZIM file during their dev/qual stage.

[2021-12-09 04:43] AniruddhaChattopadhyay opened #651 "Typo in readme"
There is a typo in the readme under How do I request a zim file header. The line is: If there's already a scraper for he website you want to convert to ZIM.... , I believe instead of he website it should be the website.
I am attaching the screenshot of the same.
![image](https://user-images.githubusercontent.com/33848189/145335745-051434de-dcf5-4aaf-a2ec-8321dfc26b21.png)

[2021-12-09 04:45] AniruddhaChattopadhyay commented on #651
I am new to open source contribution. Although this is a simple fix I would really appreciate it if you allow me to do it.

[2021-12-09 05:31] kelson42 commented on #651
@AniruddhaChattopadhyay yes, please go ahead

[2021-12-09 06:17] #651 closed

[2021-12-11 11:43] kelson42 opened #653 "Non-public ZIM files should better be uploaded to S3"
Most of what is currently uploaded to http://download.kiwix.org/zim/.hidden/ should better be uploaded to S3 because:
* S3 is slightly more flexible than our classic hosting
* These files should not be mirrored
* These files (or there path) should better not be public
* We could easily handle the deletion of older versions
* …

[2021-12-11 16:06] rgaudin commented on #653
What kind of flexibility? It sure scales transparently in terms of storage space but that's it. The rest is not flexible. Operations must be done using a custom authentication and API.

Agrees. Could be stored outside `/zim` though and those won't be mirrored.

Even on S3, we won't make it private. It just wouldn't be browsable. My understanding is that we don't want to advertise those ZIM but tho

[2021-12-11 16:27] kelson42 commented on #653
The files are not private, but it is easy to hide the URL in the Zimfarm, it is not easy to hide a file in download.kiwix.org. For the upload I would make it in a way that we keep track of the previous upload and each time we upload a new version we put a timeout of X of the older version so it will autodestroy. All of this can be easily and properly scripted thx to the S3 API, the kind of thing w

[2021-12-13 07:57] rgaudin commented on #653
As easy as on S3…

Not sure to agree here. If we keep the Zimfarm a ZIM building farm that just uploads and then it's gone (from ZF POV), then no, it's not easier to do it with S3, which is a remote FS that must be queried using the API vs the ability to run local scripts on the file server.

But from your comment, I understand you want the ZIMfarm to be responsible for the ZIM's lifecycle: keep r

[2021-12-17 08:18] kelson42 opened #655 "Zimcheck should be removed from receiver"
we do it in the worker, not needed anymore there.

[2021-12-17 10:25] rgaudin opened #656 "Docker image update is not flexible enough"
Zimfarm workers references a number of Docker images needed for its use:

[code]

For flexibility reason, those are configurable and are thus located at different location:

- can be set on `zimfarm.config`
- are set statically on `zimfarm.sh`
- are set statically on `Dockerfile`
- in `constants.py`, using the environ variable if present or a statically set fallback.

This makes sure the python co

[2021-12-19 19:52] Jaifroid commented on #653
Just to say I need to access the Custom ZIMs to make WikiMed. Is this issue just about using a more flexible server, or is it about making these ZIMs inaccessible to the public? I think those are two issues that might have different answers and rationales...

[2021-12-19 20:02] kelson42 commented on #653
@Jaifroid No worry. Either you won't be impacted or you will be kept informed about the URL to find the ZIM file.

[2021-12-19 20:29] Jaifroid opened #657 "Recipe for wikipedia_en_medicine_app appears to have failed"
See  https://farm.openzim.org/pipeline/66e41594485241d457733b16 .

So I can't make a WikiMed for December because there is no `wikipedia_en_medicine-app_maxi_2021-12.zim` this month.

Can it be restarted?

[2021-12-19 21:07] rgaudin commented on #657
@kelson42 can you relaunch and close ?

[2021-12-19 21:12] kelson42 commented on #657
Done

[2021-12-19 21:12] #657 closed

[2021-12-25 11:21] #650 closed

[2022-01-01 14:31] Popolechien opened #658 "File not moved to library"
[canadian_prepper_surviving-disaster.zim](https://farm.openzim.org/recipes/canadian_prepper/edit) was completed two weeks ago yet cannot be seen on library.kiwix.org

[2022-01-01 14:56] rgaudin commented on #658
Zimfarm has nothing to do with Library. Recipe asked worker to upload to /videos which it did. The script that builds the library.xml for library.kiwix.org is in maintenance repo.

[2022-01-01 14:56] #658 closed

[2022-01-03 11:29] rgaudin opened #659 "Support dynamic worker IP"
Updated workers' README to include that we require a fixed public IP. Zimfarm itself doesn't need it but most our recipes now include S3 cache which works using an IP whitelist.

Interesting (in terms of resources) worker without a fixed public IP is probably rare but I think we've been offered this once and we're seeing it again so it's worth looking into what it would take to make it work.

As w

[2022-01-04 03:03] simonliu99 commented on #659
Could be possible for the zimfarm manager to run a ddclient-like container that sends an update request whenever it detects an IP change. That way, the upstream servers don't have to do any additional checks as the IP change would be detected locally and then reported upstream.

[2022-01-04 08:07] rgaudin commented on #659
I don't think it's helping much as:
- we don't want to trust worker on this as it would raise external connections so we'd still keep a record of IPs to prevent updates if there's no change.
- there isn't much of a *check* as we'd only look at the request's IP so this is transparent.

With this in mind, I don't see any advantage for this solution while it would introduce a lot of additional stuff.

[2022-01-07 09:37] kelson42 commented on #634
@mahakporwal02 Do you still plan to work on this fix?

[2022-01-07 19:15] tim-moody opened #660 "Question: is there an api to monitor progress and success failure of a recipe?"
I would like to automate a process that depends on successful completion of zim generation by the zim farm. Is there an api to poll the status?

[2022-01-07 19:23] kelson42 commented on #660
@tim-moody You should find what you search at https://api.farm.openzim.org/v1... but like I said at many occasion, the zimfarm is not a publishing tool. So you should assume that because a ZIM has been made it will be published.

[2022-01-07 19:35] tim-moody commented on #660
@kelson42 I am less concerned about when a zim will get published than whether successful creation has occurred so that I can update the mdwiki cache without colliding with the creation process.

[2022-01-07 19:39] #660 closed

[2022-01-10 09:43] rgaudin commented on #660
I believe the API is sufficient for your need. You can query the schedule for the `most_recent_task` and from the task you can check once the ZIM is created or not. This would be polling only though.

If you don't want to poll, we have a `zimfarm-events` channel on Slack that reports status of all tasks. This is linked to our notification system that supports webhook, slack an email but we have no

[2022-01-10 12:48] tim-moody commented on #575
How does one join the Kiwix slack channel? Seems only to allow certain email domains.

[2022-01-10 12:56] rgaudin commented on #575
@kelson42 ?

[2022-01-10 14:06] kelson42 commented on #575
@rgaudin done

[2022-01-11 15:17] #659 closed

[2022-01-12 12:10] #656 closed

[2022-01-13 10:27] kelson42 opened #663 "Sotoki task should not empty the Redis at the end"
We just loose time for no reason (in the context of the Zimfarm).

[2022-01-14 06:44] kelson42 opened #665 "Debug scraper output should give browser time"
Debug scraper ouput is produced by scrapers running in workers. It shoud be in UTC. Thi si good but it might be difficult to analyse it if your don know that and if you don’t know your exact timezine (can vary with summer time).

I suggest therefore, beside the row label, to amke a smalmhint in js:
* remembering the output times are UTC
* Giving current browser timezome.

That way users can easily

[2022-01-17 11:29] #665 closed

[2022-01-17 15:39] rgaudin commented on #663
Done via fae5c6670afb3700a5f09979576680001aa49c08

[2022-01-17 15:39] #663 closed

[2022-01-22 05:45] kelson42 opened #667 "[regression] All the duration are wrong (or in seconds?)"
On all recipes, here for example: https://farm.openzim.org/recipes/wikipedia_kk_all

[2022-01-24 10:25] #667 closed

[2022-02-02 21:01] kelson42 opened #668 "Escape quotes in config"
See https://farm.openzim.org/pipeline/a7e335828162de57f03eaf16/debug. It seems the description argument is not quoted properly! Or maybe this is a ticket for Zimfarm?

[2022-02-03 08:26] rgaudin commented on #668
Yes, that's not something the scraper can handle because it never reaches it. I transfered to zimfarm.

Although we haven't seen those, there are certainly legitimate use cases for this and it needs to be fixed but for this very recipe, it's not correct. I fixed it by using `«Comment faire»`. Even for English, `"` is not appropriate ; `“` and `”` are.

[2022-02-05 07:11] kelson42 opened #669 "Strange failing behaviour"
At https://farm.openzim.org/pipeline/filter-failed we see a bunch of wikimedia related scrapes which fails one or two time and are automatically rescheduled. This shoukd not happen. It seems to happen only with worker michaelblob.

[2022-02-05 18:26] rgaudin commented on #669
Those are canceled after being requested+assigned to the worker but the scraper never starts. It's a feature of the zimfarm.

This usually happens when the task-worker cannot start for some reason. We'd need the logs of the failing-to-start task containers and the manager to find the actual cause.

I'd start by restarting the manager first though. Ask the worker owner to contact us on Slack if tha

[2022-02-05 18:26] #669 closed

[2022-02-19 10:22] kelson42 opened #675 "Sort recipes by creation date or update date (INC/DEC)"
Following https://github.com/openzim/cms/issues/3#issuecomment-766685594, it seems we need a way to sort recipes. At least to get the latest created recipes.

[2022-02-25 08:47] Popolechien opened #677 "Include Dagbani (dag) in language list"
[Dagbani Wikipedia](https://dag.wikipedia.org/) has left the incubator and is now a standalone wiki. Language ISO code is `dag`.
I've [created the recipe](https://farm.openzim.org/recipes/wikipedia_dag_all/edit) already but not run it yet.

Is there any other place where I should flag this new language (e.g. reader UI or something)?

[2022-02-25 20:59] rgaudin commented on #677
Fixed. I don't think readers need anything

[2022-02-25 20:59] #677 closed

[2022-03-19 08:37] kelson42 opened #680 "Platform limits for WMF not respected (or not configured properly)"
It should not be more than 3 scrapers (actually 2 might be even better) running at the same time from the same IP to the WMF backend-cluster.

But here I see 4 of them!
![image](https://user-images.githubusercontent.com/1029718/159114091-96f3b90c-2d0a-4a91-889e-d50d9f4a6a24.png)

[//]: # (Pick appropriate classifiers)

[2022-03-19 08:45] rgaudin commented on #680
Workers have the ability to change the default (1) limit. That's how we allow our mwoffliner workers to run 2.

You should contact the worker owner

[2022-03-23 05:33] kelson42 commented on #470
@rgaudin Coukd we close this ticket?

[2022-03-23 06:16] rgaudin commented on #470
sure

[2022-03-23 06:16] #470 closed

[2022-03-23 06:43] kelson42 commented on #317
Backup is secured, but we still need to move the MongoDB content to the MariaDB instance.

[2022-03-23 07:22] kelson42 commented on #488
@pirate We have implemented a support for dynamic IP in #659. Would that allow you to give another try?

[2022-03-23 07:26] kelson42 commented on #431
Now, we have only to do so with Youtube. Wasabi has been implemented with #659

[2022-03-23 07:33] kelson42 commented on #377
@rgaudin AFAIK this has been implemented?! (But I can not find the corresponding PR)

[2022-03-23 07:36] kelson42 commented on #432
To wrap up we should add:
* when (upload date)
* Duration of scrape

[2022-03-23 07:37] rgaudin commented on #377
That's right.

[2022-03-23 07:37] #377 closed

[2022-03-23 07:37] kelson42 commented on #655
I believe this has been done? It runs now at the worker right?

[2022-03-23 15:24] kelson42 commented on #498
A system working in a similar manner like the Gandi DNS zone revision system would be fine.

[2022-03-24 19:27] kevinmcmurtrie commented on #680
The last two, [wikipedia_sv_all](https://farm.openzim.org/pipeline/77b2d6feb372e012f7aab226) and [wiktionary_lt](https://farm.openzim.org/pipeline/707088148a4a15f6e3daa226), don't exist.  A UPS died during home repairs so those two jobs were lost.

[2022-03-25 08:02] kelson42 commented on #680
@rgaudin Why theses tasks didn't vanished after a few hours? In case they are not running within the worker, then the scheduler should stop considering they are running IMO.

[2022-03-25 08:12] rgaudin commented on #680
With a crashed server, the task-worker monitoring the scraper container is gone so there's nothing left to report a missing scraper.
Upon manager (re)start, we could imagine it reporting which tasks are already running and let the scheduler mark tasks assigned to this worker yet not in list as dead.

[2022-03-25 11:03] rgaudin commented on #484
Done

[2022-03-25 11:03] #484 closed

[2022-03-26 08:24] kelson42 opened #682 "Upgrade vue/cli-service npm package"
We use version 4 and ghere is now a version 5. Our version depends on a bunch of packages with security issues, see https://github.com/openzim/zimfarm/security/dependabot?q=is%3Aopen+manifest%3Adispatcher%2Ffrontend-ui%2Fyarn.lock+package%3Anode-forge

[2022-03-28 15:06] rgaudin opened #683 "Date retrieval error in watcher"
[code]

[2022-03-29 03:55] kelson42 opened #684 "Integrate ZIM upload to worker process"
Currently the upload process is not really part of the whole and if it fails it is not reported.

This is a problem because this is really not transparent and:
* Difficult to detect
* Difficult to diagnose
* We can loose ZIM files

I would propose that:
* We integrate it to the process (no full success if not fully uploaded)
* If problem, worker task tries without a end and status is stalled (unti

[2022-04-09 16:13] Ironicstuff opened #686 "Resumption of failed runs that have failed due to temporary reasons"
If runs fail, they won't be restarted for another month, and if it doesn't work again due to temporary reasons, they won't be restarted for another month. Also, runs get stuck in the middle of the process, which is temporary. You can only hope that it will work out next month, otherwise it will be delayed more and more. This defeats the purpose of the monthly schedule.

To resolve this, the runs w

[2022-04-15 05:37] kelson42 opened #687 "Introduce support of iFixit scraper"
So we can run it in the zimfarm

[2022-04-15 05:37] kelson42 commented on #687
Ping @benoit74

[2022-04-15 12:02] Jaifroid opened #688 "ZIMs aren't getting transferred correctly to download.kiwix.org"
I know this was a problem with the latest full English ZIM, but I'm seeing it also with Wikivoyage, which is a much smaller file of course: https://farm.openzim.org/pipeline/1c191e4b2815420b92f96526 . File is not available on download.kiwix.org despite it being given a mirror link (which returns 404).

I'm aware this is a known issue, but I couldn't find an issue on here to post it to. Possibly #6

[2022-04-15 12:43] kelson42 commented on #688
I got a report from a user about https://farm.openzim.org/pipeline/7202524c1e0593dd4e119326 as well.

[2022-04-15 12:44] kelson42 commented on #688
@rgaudin Not sure all these problem have the same rootcause, but this starts indeed to be a bit worrying.

[2022-04-15 13:08] rgaudin commented on #688
Regarding the wikivoyage one, the wikivoyage folder was missing on the receiver. Not sure how it got missed in the migration. ✅ Fixed. I've also triple-checked that we have them all now.

[code]

Regarding the crashcourse one, it's an old task that was created in march and which had the former upload URI.

[2022-04-15 13:08] #688 closed

[2022-04-15 14:10] Jaifroid commented on #688
OK, thanks for the update!

[2022-04-15 14:18] kelson42 commented on #688
@Jaifroid I have relaunched the Wikivoyage task

[2022-04-18 10:11] benoit74 commented on #687
Command line is quite in line with wikihow. I would advise to start with `ifixit2zim --language fr --output /whatever --optimization-cache $MYURL --tmp-dir /tmp --max-missing-items-percent 100 --max-error-items-percent 100`
The two last parameters are useful to ensure the scraper does not stop even if errors or missing items are encountered. Shouldn't happen anyway, so feel free to not use them.

[2022-04-18 10:14] kelson42 commented on #687
And make one recipe for each of these languages: en, fr, pt, de, ru, ko, zh, nl, ja, tr, es, it. I would make only one ZIM per recipe (with pictures and videos).

[2022-04-18 16:41] #687 closed

[2022-04-23 16:31] kelson42 commented on #680
Today, `pixelmemory` has 3 of them (and I believe a few hours ago, it was again 4).
![image](https://user-images.githubusercontent.com/1029718/164914803-ec9c5754-62d9-4054-9808-916252550212.png)

I keep thinking about that and I don't see why a worker should benefit to specifiy this limit. This should be centralised. Maybe there is a scenario where a worker define a limit lower than the maximum sp

[2022-04-23 16:37] rgaudin commented on #680
- we should have _control_ (doesn't have to be direct) over the workers. That's the actual issue here. Have you requested @kevinmcmurtrie to reduce or remove the mwoffliner tasks config?
- how do you see that centralized system that would allow the mwoffliner instances to have more tasks?

[2022-04-23 16:54] kevinmcmurtrie commented on #680
What do you want me to change?
[code]

[code]

[2022-04-23 21:50] kevinmcmurtrie commented on #680
I do adjust ZIMFARM_CPU so it may sometimes be a bit different than the actual running. I set it to zero to drain for updates.  I turn it down on hot days when the heat is undesirable or on stormy days to reduce battery drain if the power goes out.

[2022-05-04 04:00] kelson42 opened #691 "Sotoki template generates wrong command"
At https://farm.openzim.org/pipeline/cee0f5ee4634b3875af8f626/debug

usage: sotoki [-h] -d DOMAIN [-l] [--name NAME] [--title TITLE]               [--description DESCRIPTION] [--favicon FAVICON]               [--creator AUTHOR] [-p PUBLISHER] [--tag TAG] [--without-images]               [--without-user-profiles] [--without-user-identicons]               [--without-external-links] [--without-unansw

[2022-05-04 04:01] kelson42 commented on #691
Once fixed, IMO this recipe shoukd be deleted

[2022-05-04 09:58] rgaudin commented on #691
There are no such thing as zimfarm templates but that incorrect (option name changed) `--no-userprofile` was present in 3 other recipes. Fixed them all and delete that (test probably) recipe.

[2022-05-04 09:58] #691 closed

[2022-05-04 09:59] kelson42 commented on #691
@rgaudin Hope you did as well --no-identicons

[2022-05-04 09:59] rgaudin commented on #691
It was the only one using it

[2022-05-07 19:51] kelson42 opened #692 "Zimfarm does not display progress (and other info) for iFixit scraper"

[2022-05-08 20:24] Jaifroid commented on #684
It looks like [wikipedia_en_endless_maxi_2022-04.zim](https://farm.openzim.org/pipeline/7fecf7b01497d474422ee426) never made it to download.kiwix.org (it should be [here](https://download.kiwix.org/zim/.hidden/endless/wikipedia_en_endless_maxi_2022-04.zim)). I think it is connected to this issue, but please correct me if wrong.

[2022-05-09 08:11] rgaudin commented on #684
Due to #688 yes

[2022-05-09 08:14] Jaifroid commented on #684
OK, thanks, (though I didn't post in #688 because it was closed in favour of this issue, I think).

[2022-05-09 08:14] #692 closed

[2022-05-09 09:05] rgaudin commented on #684
#688 was a bug that affected that ZIM (look at the dates, it was about a month ago). This ticket is about improving the current system so we're aware when such issues occur.

[2022-05-11 09:26] #680 closed

[2022-05-18 13:43] kelson42 opened #694 "CMS acknowledgment of new ZIM should be clear"
If missing acknoledgment, then raise error.

See #684 for a similar kind of ticket.

[2022-05-29 20:26] kelson42 opened #696 "Add plateform limit for ifixit scraper"
Allowing only one scrape at the same time. There is no complain so far on their side, but would prefer to act earlier than later.

[2022-05-31 09:13] kelson42 opened #697 "Zimfarm does report 0MB or memory usage"
You can see this at Sotoki SO scraper https://farm.openzim.org/pipeline/a745e1a131142023d569f826/debug

![image](https://user-images.githubusercontent.com/1029718/171138047-554c334b-f728-4e1c-9f1f-d89f473b2c2c.png)

[2022-06-04 16:44] kelson42 commented on #696
We got our first HTTP 429 https://farm.openzim.org/pipeline/820297f4628efdffcbce8926/debug

[2022-06-05 21:55] lidel commented on #606
@kelson42 I was not able to block time for this during the hackweek, but did some progress this weekend. Started fleshing out  details for self-hosted strategy (**(A)** from https://github.com/lidel/zim2ipfs/issues/1),  mostly reading about [zimfarm](https://github.com/openzim/zimfarm) and figuring out necessary building blocks.

My initial notes and questions in https://github.com/lidel/zim2ipfs/

[2022-06-06 12:10] kelson42 opened #699 "Strange "ZIM filename format is incorrect" error by setting Zimit recipe filename"
Trying to polish the following recipe https://farm.openzim.org/recipes/saint_libere/.

I can not put `saint-libere_fr` in the "ZIM filename" field. If I do so I get the following error as I want to save:
[code]

Remark:
It seem that per default the ZIM filename is the ZIM name + date + `.zim`. I wonder if it would not be better to put name + lang (ISO2) + date + `.zim` ?

[2022-06-06 14:34] kelson42 commented on #699
I confirm, `saint-libere_fr_` passes. Would be better to just add one if missing at the end. I guess this is what is done otherwise.

[2022-06-07 12:18] rgaudin commented on #606
@lidel ; thank you for this documentation ; it's very helpful and allowed me to get up to where you are on the subject. I don't have any answer ATM but we'll discuss it with @kelson42 as this receiver piece is supposed to change as well. Thank you for laying out the options.

[2022-06-11 08:47] kelson42 opened #700 "Youtube API keys seem to be invalid/outdated"
It seems we use invalid (outdated?) Youtube API keys, see:
* https://farm.openzim.org/pipeline/b36721ff34d7c74878d62a26/debug
* https://farm.openzim.org/pipeline/41aea85f88c19df29a8a1a26/debug
* https://farm.openzim.org/pipeline/effa0b23e7a41c32a7c73926/debug

[2022-06-11 08:53] kelson42 opened #701 "In "failed" pipeline, many tasks don't have all detailsm "Last run" info is missing"
See:
![image](https://user-images.githubusercontent.com/1029718/173180969-76f77c76-98c0-4be8-a925-6f85f9498608.png)

First time I remark this, a regression?

[2022-06-11 08:58] kelson42 opened #702 "docker.errors.ImageNotFound errors on pixelmemory worker"
A few example of recently failing tasks:
* [pixelmemory] https://farm.openzim.org/pipeline/33212e41336968671c010a26/debug
* [pixelmemory] https://farm.openzim.org/pipeline/91cb14ce0951642b5ce10a26/debug
* [pixelmemory] https://farm.openzim.org/pipeline/29ed6af99c6f34c20fa30a26/debug
* [pixelmemory] https://farm.openzim.org/pipeline/f503def3cc513cd701940a26/debug
* [pixelmemory] https://farm.openzi

[2022-06-11 10:08] kelson42 commented on #699
Seems we arlready have a ticket on zimit side: see https://github.com/openzim/zimfarm/issues/699.

[2022-06-11 17:35] rgaudin commented on #700
The log says

[code]

You know YT API Keys are protected by an IP whitelist that's static and different from the dynamic one we have for Wasabi. Maybe pixelmemory's public IP changed or is using IPv6 now. We have `99.xx.xxx.75` ATM.

[2022-06-11 17:42] rgaudin commented on #701
Thanks for the report. This comes from individual requests to all those recipes and some of them fail (502). It doesn't seem related to the recipes themselves but somewhat random and you can get lucky with refreshes and get it all filled-out.

Looking at server logs, it seems like we're not correctly answering to all requests (in general) which matches with some worker-to-server errors I've seen.

[2022-06-11 17:44] rgaudin commented on #702
Looks like pixelmemory admin has incorrectly configured a custom image to use

[code]

[2022-06-12 08:06] kevinmcmurtrie commented on #702
This is the DNS image but without the TTL extension. I had accidentally purged it 🤦‍♂️ doing Docker cleanup.  I didn't notice for a while because there was nothing in the pipeline while I was watching it.

[2022-06-12 08:26] kelson42 commented on #702
@kevinmcmurtrie Does the problem is fixed? Should we close the ticket?

[2022-06-12 08:35] kevinmcmurtrie commented on #702
It should have only been broken for a few hours, nothing more.  I can turn the worker off if the failure rate is still high.

[2022-06-12 08:41] kelson42 commented on #702
Ok, then I will close and reopen if necessary.

[2022-06-12 08:41] #702 closed

[2022-06-15 11:08] rgaudin commented on #701
Fixed via https://github.com/kiwix/k8s/commit/b86203debfd4a03cf32fd3450fb140247d2eacf5

I can now reliably refresh that page with 200 recipes without errors.

[2022-06-16 15:33] rgaudin commented on #700
I'll add the v6 prefix ; thanks

[2022-06-16 15:58] rgaudin commented on #700
Done ; thank you

[2022-06-17 12:01] #699 closed

[2022-06-21 18:39] #700 closed

[2022-06-21 19:24] kevinmcmurtrie commented on #700
There are a lot of problems with Docker's bridge network and its image management.  I was hoping that IPv6 could bypass some problems but it created more.  At this point I don't know what's needed to make it reliable and whether or not those changes could be compatible with the way Zimfarm launches its own containers.

- Docker's bridge network triggers a race condition in Linux SNAT that results

[2022-06-25 07:45] kelson42 commented on #696
@rgaudin Any chance we could have this ticket implemented next week?

[2022-06-25 19:53] rgaudin commented on #696
Done.

[2022-06-28 09:15] Popolechien opened #704 "Add link to (dev.)library.kiwix.org next to last zim file generated"
An easy way to do QA on the newly generated zim files would be to add a "view" button next to last successful run in the file history and that directly links to the file on dev.library.kiwix.org (or library.kiwix.org)

![Untitled presentation](https://user-images.githubusercontent.com/21675885/176141909-427972db-1e05-4d83-8ae7-1c149c2fcbfb.png)

[2022-06-28 09:26] rgaudin commented on #704
Agrees that would be helpful but:

- Should be possible to display it next to ZIM file listing inside the task detail (that's where it makes most sense: one ZIM -> one link)
- It might not work 100% of the time as kiwix-serve is responsible for the URL but we can guess it 99.9% of the time.
- We'd have broken links once the ZIMs are not available at this once-expected location (moved, expired, etc

[2022-06-28 09:46] Popolechien commented on #704
Well then it that case wouldn't it be easier to have a link such as `https://dev.library.kiwix.org/?lang=&q=zim_name`? It would list all occurence of the file (including older versions, which is another issue).

[2022-06-29 16:39] rgaudin commented on #696
Eventually fixed.

[2022-06-29 16:39] #696 closed

[2022-07-07 07:03] kevinmcmurtrie commented on #700
At least IPv6 is working now without NAT.  Manual testing works but there's no applicable tasks in the pipeline for me to  monitor.

[code]
I don't know if the Docker bridge stalling is fixed at all.

[2022-08-01 08:49] kelson42 opened #708 "Better list of workers for manual task assigment"
The current list proposes all active workers. It would be better to propose only the list of workers really able to handle such a task/recipe. This would avoid us to assign tasks which ultimatively will never be taken.

[2022-09-10 09:47] kelson42 opened #710 "Zimfarm fails to upload ZIM files time to time"
Examples:
* https://farm.openzim.org/pipeline/d6fd8def7f878ee638784136
* https://farm.openzim.org/pipeline/442e2d864509ebb265784136
* https://farm.openzim.org/pipeline/b8f7ec37e36c6ad0f7a40136

[2022-09-11 07:43] kelson42 commented on #710
Related to #684

[2022-09-14 09:00] kelson42 opened #711 "Retry if upload fails"
Time to time the upload of ZIM fails, see #710. Luckily this is not that often and we try to fix this kind of scenario.

That said, it might be beneficial to have a small retry system if the upload fail, following a classic backoff scenario:
* Try once,
* If fail, wait one hour and try again
* If repeated fail, wait two hours and try ogain.
* If still fails, then abort the upload process.

[2022-09-16 06:54] kelson42 opened #712 "zimcheck report not visible anymore"
See
![image](https://user-images.githubusercontent.com/1029718/190575354-9b0a89bc-20a8-47a0-93be-7ba06a196f35.png)

at https://farm.openzim.org/pipeline/5d05a3d178ae8f44cfc52236

But zimcheck itself seems OK if tested locally:
[code]

[2022-09-16 16:32] rgaudin commented on #712
Yes it's actually an *old* bug dating from the move to JSON. The log is still available when looking at the *raw* document link.

It's display on the UI is broken though. Given it's now a JSON document, I think there was a question of what to display: I'll add the whole `JSON.stringify` for now

[2022-09-17 17:31] #712 closed

[2022-09-18 08:13] kelson42 opened #713 "Filter recipes by last task status"
It makes quite a bit of time meanwhile that @Popolechien and myself use the Zimfarm. Long enough I believe to be able to give a feedback on how we use the recipe filters.

To me it it works fine, I use all the available filters ; even if I have to admit pretty rarely the language filter (but does not mean this is not useful time to time). But what I really miss is the filtering by last task status

[2022-09-19 09:07] rgaudin opened #714 "Unmatched quotes in config"
[youzimit task](https://farm.youzim.it/pipeline/b343e30ef13291d2c58f0236/debug) has a favicon param of:

[code]

This crashes the task worker which is something we should avoid.

[code]

[2022-09-19 09:57] rgaudin opened #715 "Depth in zimit offliner recorded as empty string"
In a youzim.it [task](https://farm.youzim.it/pipeline/36e3e30ef13291d21fcb1236/debug) the `--depth` param was stored in mongo as an empty string while it is declared as an integer…

It was most likely added via zimit-frontend but in any case, the requested-tasks payload should have been validated and we should not have an empty string there.

https://github.com/openzim/zimfarm/blob/7bdb537ccb8fb3c

[2022-09-20 05:58] kelson42 opened #716 "Add button to copy visible error log"
Copying the displaues error log from the UI is not that easy. This is really true if you have a mobile device. I do that often to make bug reports for scrapers or zimfarm itself.

It would be really handy to just a button to do that.... it coukd maybe even add the backticks?!

[2022-09-20 10:26] #716 closed

[2022-09-20 10:31] rgaudin commented on #716
Great suggestions ; added the backticks as well

[2022-09-22 16:48] kelson42 commented on #713
@Popolechien please open other tickets, what your last ticket talks about is something different.

[2022-09-23 07:11] Popolechien opened #717 "Enable column sorting"
It's all in the title but it would be quite convenient to be able to sort the column displayed in the farm
![Capture d’écran 2022-09-23 à 09 11 05](https://user-images.githubusercontent.com/21675885/191908767-2a39228d-88aa-4db2-89b8-a62ee686f9da.png)

[2022-09-23 07:14] Popolechien opened #718 "Enable recipe selection"
The current system only allows for the relaunch of all displayed recipes whereas it would make a lot more sense to be able to relaunch a selected few (basically only those that have failed)

![Capture d’écran 2022-09-23 à 09 13 30](https://user-images.githubusercontent.com/21675885/191909215-20d91114-fcdd-470e-9a6c-ac84f80689d2.png)

A selector/tick button at the end of each line would come in h

[2022-09-23 12:43] Popolechien opened #719 "Enable basic html formatting in content descriptor"
(not sure if this is a zimfarm or kiwix-server option)
Some of our zim files have fairly long descriptions and we end up with a block of text. It would be convenient if in the `Description` field of recipes we could insert some basic HTML (e.g. `<br/>`) so as to render this text in a more palatable format
![Capture d’écran 2022-09-23 à 14 41 09](https://user-images.githubusercontent.com/21675885

[2022-09-23 15:08] rgaudin commented on #719
As per [the spec](https://wiki.openzim.org/wiki/Metadata) `Description` is `description of content (one short sentence)` so the answer is no. I am closing this as there is no foreseeable solution at zimfarm level now but feel free to open a discussion at openzim/overview or libzim about that

[2022-09-23 15:08] #719 closed

[2022-09-24 05:20] kelson42 commented on #710
New case at https://farm.openzim.org/pipeline/a6e1d9925b0dc2d96292d236

[2022-10-05 15:07] #710 closed

[2022-10-05 15:07] #711 closed

[2022-10-05 20:35] simonliu99 commented on #343
It would be nice to have a dashboard for each node/general statistics. In addition to the gamification (that gives the nice warm fuzzy feeling of big numbers 😎), it makes checking in on past node performance easier than scrolling through the done/failed lists of jobs.

[2022-10-07 20:24] kelson42 opened #720 "Schedule column always empty under certain conditions"
Recipe view looks good with pagination at 10
![A123B034-FB26-4D87-B05A-332077BA2A8A](https://user-images.githubusercontent.com/1029718/194646847-3e61e5b6-10c1-421c-ba37-43d5a971093a.png)

But with pagination at 50, the schedule column is empty
![51A8F65F-7DF9-4496-9405-40CD13856C23](https://user-images.githubusercontent.com/1029718/194647032-7f0278af-d1c8-425f-9359-e416be2c08d5.png)

[2022-10-10 07:59] rgaudin commented on #720
Good catch! It's due to incorrect handling of the limit (your filter has less entries than the limit)

[2022-10-16 05:48] Jaifroid opened #721 "Upload fails due to unprotected private key file"
I don't know if this is a one-off error, but while investigating the apparent failure to upload the latest scrape of `wikivoyage_en`, I found a strange error (see below) in the [debug log](https://farm.openzim.org/pipeline/39db5ae82f591d1f5a56b436/debug). It looks like bad permissions for `/etc/ssh/keys/zimfarm`, possibly on one runner?

Would it be possible to fix and re-run, as I'm waiting for t

[2022-10-16 05:53] kelson42 commented on #721
@Jaifroid The ZIM files seem uploaded!? What ZIM file has not been uploaded?

[2022-10-16 05:57] Jaifroid commented on #721
I'm looking for `wikivoyage_en_all_maxi_2022-10.zim` and I'm getting 404 not found on both download.kiwix.org and mirror.download.kiwix.org, e.g. https://mirror.download.kiwix.org/zim/wikivoyage/wikivoyage_en_all_maxi_2022-10.zim.

[2022-10-16 06:08] kelson42 commented on #721
Indeed

[2022-10-17 09:39] rgaudin commented on #721
Wow ; thanks for the report. This was preventing upload indeed. There was an issue on mwoffliner4 the other day and I accidentally removed the private key… but put it back… incorrectly.
I fixed the permissions and tested a small run that uploaded correctly.

[2022-10-17 09:39] #721 closed

[2022-10-17 09:46] Jaifroid commented on #721
Great, thanks! If, in due course, someone could restart [wikivoyage_en](https://farm.openzim.org/pipeline/39db5ae82f591d1f5a56b436), that would be brilliant, so that I can release a new Wikivoyage packaged app later this week.

[2022-10-17 09:47] rgaudin commented on #721
Restarted!

[2022-11-09 08:35] rgaudin opened #723 "Mark tasks as failed if no ZIM file was created"
Sort of a complement of #684 ; if the scraper completes with `0` yet we have not seen any ZIM files, something must be wrong and the task should be marked as failed.
In addition, a log message should be produced with the (recursive ? @kelson42 ?) content of `/output` so one can check whether something was created (temp ZIM not finished, incorrect extension).

[2022-11-16 14:41] Agetian opened #725 "Bulbagarden Zimfarm rule doesn't work for several months"
## Problem

[//]: # The following Zimfarm rule seems to be dysfunctional:
https://farm.openzim.org/recipes/bulbagarden
It has been failing at least for the last 7 months. Debug information shows that it fails with this error:

mwUrl [https://bulbapedia.bulbagarden.net/] is not valid.

This is apparent from the following pipeline debug info: https://farm.openzim.org/pipeline/ab6a3828030f716b6a3f363

[2022-11-21 14:13] kelson42 opened #726 "Create BSF ZIM repository"
Create https://master.download.kiwix.org/zim/.hidden/bsf directory and ensure we can "route" zim file to it in the Zimfarm.

[2022-11-21 14:24] #726 closed